.tooltip { /* Container for our tooltip */
    position: relative; 
    display: inline-block;
   }
   
.tooltip .tooltiptext { /* This is for the tooltip text */
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px; /* Defines tooltip text position */
    position: absolute;
    z-index: 1;
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
   } 
   
   .tooltip:hover .tooltiptext { /* Makes tooltip text visible when hovered on */
    visibility: visible;
   }
   .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
   }